@import url('../../index.css');

.container-exp {
  margin-top: 30px;
  background: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  width: 320px;
  height: 349px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 20px 20px 30px;
}

.container-exp h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.box-exp {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.box-exp ul {
  margin-left: 46px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 100%;
}

.box-exp ul li span {
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}

.box-exp ul li span:nth-child(1) {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
