.container-links {
  margin-top: 30px;

  border-radius: 20px;
  background: var(--bg-cards);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  max-width: 348px;
  height: 348px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.container-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;
  height: 100%;
}

.container-links ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 29px;
}
